# Created by https://www.gitignore.io/api/intellij

### Intellij ###

# User-specific stuff:
.idea/tasks.xml
.idea/dictionaries
.idea/shelf

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
build/
.idea/
## Plugin-specific files:

# IntelliJ
/out/